body {
    font-family: $font-family-base;
    font-size: 14px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: $body-color;
    /* This ensures that the initial width is sufficient to prevent input stacking, which ensures the appropriate initial height. */
    min-width: 275px;
    background: rgba(0, 0, 0, 0.6); /* R, G, B, A */
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    margin: 0;
}

h4, .h4 {
    font-weight: 700;
}

/*a, a:link, a:visited {
    color: $link-color;
}*/

.global-spinner {
    color: #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -15px;
}
/* Start animations */
.animate-show.ng-hide {
    opacity: 0;
}

.animate-show.ng-hide-remove {
    transition: all linear 0.75s;
}
/* End animations */
/* Start overrides of bootstrap modal structure */
.modal {
    text-align: center;
    /* Allows the modal to scroll when too small to display on the screen vertically */
    overflow-y: scroll;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    max-width: 460px;
}

.modal-content {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 0;
    background-color: #fff;
    margin: 0 auto;
    max-width: 460px;
}

.non-modal .modal-content {
    margin-top: 36px;
    margin-bottom: 36px;
}

@media (max-width: 460px) {
    .non-modal .modal-content {
        height: 100vh;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.modal.in .modal-dialog {
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
}

.modal-header {
    padding: 16px;
    border-bottom: none;
    width: 100%;
    max-width: 460px;
    color: $header-color;
    background: $header-bg-color;
    border-bottom: 1px solid #c8c8c8;
    border-radius: $border-radius $border-radius 0 0;
}

.modal-body {
    width: 100%;
    background-color: $body-bg-color;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    color: $body-color;
}

/* End overrides of bootstrap modal structure */
/* Start header */
.dialog-basic .modal-header, .dialog-expanded .modal-header {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.dialog-detailed .modal-header {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.modal-header .close {
    opacity: .6;
    float: left;
    margin: 4px 0 0 2px;
}

.modal-header .close .fa-times-circle {
    color: $header-color;
}

.brand-name {
    font-weight: bold;
    font-size: 120%;
    font-family: $font-family-company-name;
    color: $company-name-color;
}
/* End header */
/* Help block overrides */
.help-block {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 12px;
}
/* End Help block overrides */
/* Error overrides */
.has-error .form-control {
    border-color: #ccc;
    background-color: $form-error-bg-color;
}
/* End Error overrides */
/* Alert overrides */
.alert {
    margin-bottom: 12px;
}

.alert button {
    background-color: $state-success-bg !important;
    color: #000000 !important;
    line-height: .85;
}
/* End Alert overrides */
/* Start branding */
.modal-branding {
    clear: both;
    text-align: center;
}

.brand-image {
    width: 64px;
    height: 64px;
    border: 1px solid #c8c8c8;
    border-radius: 100px;
    background-size: 44px;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    background-color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.brand-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.company-name {
    margin-top: 4px;
}

.company-name span {
    font-size: 16px;
    font-weight: 700;
}
/* End branding */
/* Start form */
.form-title, .form-subtitle {
    margin: 0;
}

.form-title span {
    font-size: 18px;
    font-weight: 700;
}

.form-subtitle span {
    font-size: 14px;
    font-weight: 200;
}

.form-title .fa-check {
    color: #4caf50;
    font-size: 20px;
    margin-right: 4px;
}

.other-payment {
    margin: 12px 0 12px;
}

.print-receipt {
    margin: 16px 0 0;
}

.other-payment span {
    color: #9e9e9e;
}

.order-summary {
    width: 100%;
    padding-top: 24px;
    margin-bottom: 10px;
}

.order-summary td {
    padding: 2px 0 2px;
    width: 50%;
    vertical-align: top;
}

.order-total td {
    padding-top: 16px;
}
/* End form */
/* Start form controls */
.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 40px;
}

.form-control:focus, .input-group.addon-input-group .form-control:focus + .input-group-addon {
    outline: 0;
    border-color: #2196F3;
    background-color: #fff;
}

.input-group.addon-input-group .form-control:focus, .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.input-addon {
    border-right: 0 solid transparent;
}

.input-group-addon {
    background-color: #fff;
    border-left: 0 solid transparent;
}

.fa-info-circle {
    color: #757575;
}

.dropdown-toggle {
    color: #444;
    border: 1px solid #c8c8c8;
}

.dropdown-toggle:hover {
    background: #f8f8f8;
    border: 1px solid #c8c8c8;
}

.language-toggle, .currency-toggle {
    font-size: 12px;
}

/*Set the placeholder color */
.form-control::-webkit-input-placeholder {
    color: $placeholder-color;
}

.form-control:-moz-placeholder {
    color: $placeholder-color;
}

.form-control::-moz-placeholder {
    color: $placeholder-color;
}

.form-control:-ms-input-placeholder {
    color: $placeholder-color;
}

/* "Faux" placeholders on select controls */
.select-placeholder {
    color: $placeholder-color;
}

.select-options-color {
    color: $input-color;
}

/* Radio buttons / groups */
.radio-group-label,
.checkbox-group-label {
    clear: both;
    margin-bottom: 10px;
}

.checkbox,
.radio {
    opacity: 0;
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
}

.radio-group label,
.checkbox-group label {
    margin-right: 16px;
    cursor: pointer;
    display: block;
    font-weight: normal;
}

.radio-group label.strong,
.checkbox-group label.strong {
    font-weight: 700;
}

.radio-group.inline label,
.checkbox-group.inline label {
    display: inline;
}
/* Remove inline display on small screens */
@media (max-width: $screen-xs-min) {
    .radio-group.inline label,
    .checkbox-group.inline label {
        display: block;
    }
}

.radio-group .radio-group-description {
    font-size: 95%;
    font-style: italic;
}

.checkbox-label.inline,
.radio-label.inline {
    position: relative;
    display: inline;
}

.checkbox + .checkbox-label:before,
.radio + .radio-label:before {
    content: '';
    background: #fff;
    border: 2px solid #b9b8b8;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 4px;
    text-align: center;
}

.checkbox[disabled] + .checkbox-label:before,
.radio[disabled] + .radio-label:before {
    border: 2px solid #f1f0f0;
    cursor: not-allowed;
}

.checkbox:checked + .checkbox-label:before {
    background: #3498db;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio + label:before {
    border-radius: 50%;
}

.radio:checked + label:before {
    background: #3498db;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-group-label,
.checkbox-group-label {
    clear: both;
    display: block;
}

.checkbox:focus + .checkbox-label,
.radio:focus + label {
    outline: none;
    /* focus style */
}
/* Buttons */
.seamless-input.left {
    padding-right: 0;
}

.seamless-input.left input, .seamless-input.left select {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.seamless-input.right {
    padding-left: 0;
}

.seamless-input.right input, .seamless-input.right select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.seamless-input.top .form-group {
    margin-bottom: 0;
}

.seamless-input.top input, .seamless-input.top select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
}

.seamless-input.bottom input, .seamless-input.bottom select {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.seamless-input.middle input, .seamless-input.middle select {
    border-radius: 0;
    border-bottom: 0;
}

.seamless-input.middle .form-group {
    margin-bottom: 0;
}
/* End form controls */
/* Start helpers */
.separator {
    border-top: 1px solid #f4f4f4;
    padding-top: 24px;
}

.stretch {
    width: 100%;
}

.pointer {
    cursor: pointer;
}

.faux-link {
    color: $link-color;
    cursor: pointer;
}

.test-message {
    padding-top: 4px;
    padding-bottom: 4px;
}
.text-light {
    color: $body-alt-color;
}

/* End helpers */
/* Input add-ons */
.inner-addon {
    position: relative;
}

.inner-addon .fa {
    position: absolute;
    padding: 13px 11px 13px 11px;
    pointer-events: none;
    color: $placeholder-color;
}

.left-addon .fa {
    left: 0px;
}

.right-addon .fa {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}
/* Give an option to hide the icon */
.left-addon.remove .fa, right-addon.remove .fa {
    display: none;
}

.left-addon.remove input {
    padding-left: 12px;
}

.right-addon.remove input {
    padding-right: 12px;
}

.input-group-btn .btn {
    height: 40px;
    border: 1px solid #cccccc;
}
/* End input add-ons */
/* Credit card icons */
.credit-cards {
}

/* Credit card icons */
.credit-cards {
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 30px;
    text-align: right;
}

.credit-cards img {
    max-height: 20px;
    margin-left: 3px;
}

.credit-card-image img {
    max-height: 20px;
}

/* Payment Options */
ul.payment-methods {
    list-style-type: none;
    padding: 0;
}

ul.payment-methods li {
    float: left;
    margin-right: 12px;
    margin-bottom: 4px;
    font-size: 16px;
    color: $body-color;
}

ul.payment-methods li:last-child {
    margin-right: 0;
}

ul.payment-methods li label {
    margin-bottom: 0;
}

.payment-button {
    position: relative;
    margin: 16px 0;
}

.amazonpay-button-inner-image {
    max-height: none !important;
    opacity: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 152px;
    height: 52px;
}

/* Start responsive settings */
/* Desktops, tablets, some large mobile devices */
iframe {
    width: 100%;
}

.modal-body {
    padding: 16px 24px 24px;
}

.modal-body.wide {
    padding: 16px 16px 24px 16px;
}
/* Mobile devices */
@media (max-width: 400px) {
    iframe {
        width: 100%;
    }

    .modal-content {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .modal-header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .modal-dialog {
        width: 100%;
        margin: 0;
        max-width: unset;
    }

    .dialog-basic .modal-header {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .form-control {
        font-size: 13px;
    }

    .form-group {
        margin-bottom: 13px;
    }

    .form-title {
        margin: 0;
    }

    .modal-body {
        padding: 16px;
    }
}
/* Pointer on dropdowns */
li.dropdown, .pointer {
    cursor: pointer;
}
/* Currency selection button */
.currency-button {
    margin-right: 7px;
}

/* Promo code */
.input-group-btn .btn.apply-promo-code {
    border: 1px solid $brand-info;
}

/* Global footer  */
.global-footer {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    margin-top: 0;
    padding-top: 24px;
    margin-bottom: 0;
}

.submessage {
    font-style: italic;
    font-size: 85%;
    margin-bottom: 12px;
}

/* Spacers */
.spacer-l0 {
    margin-left: 0;
}

.spacer-r0 {
    margin-right: 0;
}

.spacer-t0 {
    margin-top: 0;
}

.spacer-b0 {
    margin-bottom: 0;
}

.spacer-t6 {
    margin-top: 6px;
}

.spacer-b6 {
    margin-bottom: 6px;
}

.spacer-r6 {
    margin-right: 6px;
}

.spacer-l6 {
    margin-left: 6px;
}

.spacer-6 {
    margin: 6px;
}

.spacer-t12 {
    margin-top: 12px;
}

.spacer-b12 {
    margin-bottom: 12px;
}

.spacer-r12 {
    margin-right: 12px;
}

.spacer-l12 {
    margin-left: 12px;
}

.spacer-12 {
    margin: 12px;
}

.spacer-t16 {
    margin-top: 16px;
}

.spacer-b16 {
    margin-bottom: 16px;
}

.spacer-r16 {
    margin-right: 16px;
}

.spacer-l16 {
    margin-left: 16px;
}

.spacer-16 {
    margin: 16px;
}

.spacer-t24 {
    margin-top: 24px;
}

.spacer-b24 {
    margin-bottom: 24px;
}

.spacer-r24 {
    margin-right: 24px;
}

.spacer-l24 {
    margin-left: 24px;
}

.spacer-24 {
    margin: 24px;
}

.spacer-t36 {
    margin-top: 36px;
}

.spacer-b36 {
    margin-bottom: 36px;
}

.spacer-r36 {
    margin-right: 36px;
}

.spacer-l36 {
    margin-left: 36px;
}

.spacer-36 {
    margin: 36px;
}

.spacer-t48 {
    margin-top: 48px;
}

.spacer-b48 {
    margin-bottom: 48px;
}

.spacer-r48 {
    margin-right: 48px;
}

.spacer-l48 {
    margin-left: 48px;
}

.spacer-48 {
    margin: 48px;
}

.padding-l0 {
    padding-left: 0 !important;
}

.padding-r0 {
    padding-right: 0 !important;
}

.padding-t0 {
    padding-top: 0 !important;
}

.padding-b0 {
    padding-bottom: 0 !important;
}

.padding-l6 {
    padding-left: 6px !important;
}

.padding-r6 {
    padding-right: 6px !important;
}

.padding-t6 {
    padding-top: 6px !important;
}

.padding-b6 {
    padding-bottom: 6px !important;
}

.padding-l12 {
    padding-left: 12px !important;
}

.padding-r12 {
    padding-right: 12px !important;
}

.padding-t12 {
    padding-top: 12px !important;
}

.padding-b12 {
    padding-bottom: 12px !important;
}

.padding-l16 {
    padding-left: 16px !important;
}

.padding-r16 {
    padding-right: 16px !important;
}

.padding-t16 {
    padding-top: 16px !important;
}

.padding-b16 {
    padding-bottom: 16px !important;
}

.padding-l24 {
    padding-left: 24px !important;
}

.padding-r24 {
    padding-right: 24px !important;
}

.padding-t24 {
    padding-top: 24px !important;
}

.padding-b24 {
    padding-bottom: 24px !important;
}

.padding-t36 {
    padding-top: 36px !important;
}

.padding-b36 {
    padding-bottom: 36px !important;
}

// Amazon Pay iframes. These will not work if the Amazon Pay SDK changes element id structures
#apaddress iframe, #apwallet iframe, #apwallet-review iframe, #apconsent iframe  {
    border: none !important;
}
