/* USER DEFINED */

/* Main Colors */
$brand-primary: #2196f3;
$brand-success: #36ab0c;
$brand-info: #5bc0de;
$brand-danger: #d9534f;

/* Alert Colors */
$state-success-text: #3c763d;
$state-success-bg: #dff0d8;

$state-info-text: #31708f;
$state-info-bg: #d9edf7;

$state-danger-text: #a94442;
$state-danger-bg: #f2dede;

/* Button Text Colors */
$btn-primary-color: #ffffff;
$btn-success-color: #ffffff;
$btn-info-color: #ffffff;
$btn-danger-color: #ffffff;

/* Fonts */
$font-family-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-company-name: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-footer: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Default button */
$btn-default-color: #686868;
$btn-default-bg: #ffffff;

$header-bg-color: #d8d8d8;
$header-color: #444444;
$company-name-color: #3a3a3a;
$border-radius: 4px;
$body-bg-color: #ffffff;
$body-color: #444444;
$link-color: #40a5f5;

/* Form elements */
$input-border-radius: 2px;
$input-bg: #ffffff;
$input-color: #555555;
$input-border: #d6d7d8;
$placeholder-color: #999999;

/* Inputs */
$form-error-bg-color: #fce3e3;

/* NOT USER DEFINED */

$btn-default-border: darken($btn-default-bg, 5%);
$link-hover-color: darken($link-color, 10%);
$link-hover-decoration: none;
$body-alt-color: lighten($body-color, 20%);