<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="gettingStarted">
<head>
    <title>Getting Started with POP Checkout</title>

    <!-- Scale set to 1.0001 to address a bug in Safari on iOS 9.x -->
    <meta name="viewport" content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no" />

    <!-- CSS -->
    <link href="https://static.comecero.com/libraries/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://static.comecero.com/libraries/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../getting-started/style.css" rel="stylesheet" />

    <!-- Pull in the app and account settings. Must come before any app bootstrapping. -->
    <script src="../settings/app.js"></script>
    <script src="../settings/account.js"></script>

    <!-- Frameworks. AngularJS is loaded here to enable ng-cloak as needed. -->
    <script src="https://static.comecero.com/libraries/angularjs/1.5.9/angular.min.js"></script>

    <!-- Highlight.js -->
    <script src="../dist/js/highlight.pack.js"></script>
    <link href="../dist/css/code-highlight.css" rel="stylesheet" />
    <style type="text/css">
        pre code {
            white-space: unset;
        }

        .pointer {
            cursor: pointer;
        }
    </style>

</head>

<body allowtransparency="true" class="popup">

    <div class="container" ng-controller="GettingStartedController">

        <div class="row">
            <div class="col-lg-12">
                <div class="page-header">
                    <h1 id="typography">Getting Started with POP Checkout</h1>
                </div>
            </div>
        </div>

        <p>POP ("Pay on Page") Checkout is a simple way to start taking orders from your website and offers a seamless checkout experience for your customers. Integrating POP Checkout is easy!</p>

        <div ng-show="!data.product && data.loaded">
            <p>To see an example, you must first add a product to your account. Then reload this page to see the demo.</p>
            <p class="text-center">
                <a href="https://admin.comecero.com/#/products/add" class="btn btn-primary btn" target="_blank">Add a Product Now</a>
            </p>
        </div>

        <div ng-show="data.product">
            <h4>See it in Action</h4>
            <p>POP Checkout allows you to place buttons and links wherever you want customers to make a purchase. Click the button below to see an example.</p>
            <div ng-if="data.test">
                <p>
                    To place a test order with the demo below, you can use the following details:
                    <ul>
                        <li>Card number: 4444555566661111</li>
                        <li>Expiration Date: (any future date)</li>
                        <li>CVC: (any three digit number)</li>
                        <li>Other details: Whatever you want. Make sure you use your own email address as an email will be sent!</li>
                    </ul>
                </p>
            </div>
            <p class="text-center"><button class="btn btn-success popup-buy-now" data-product_id="{{data.product.product_id}}">{{data.product.name}} - Buy Now</button></p>
        </div>

        <h4>Adding Buttons to Your Site</h4>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Step 1:</strong> Add your Website to the App Settings</div>
            <div class="panel-body">

                <p>For security, we limit the websites that can embed your POP Checkout to those that you specify.</p>

                <p>
                    <ul>
                        <li>Sign into your account</li>
                        <li>From the left menu, click Online Storefront</li>
                        <li>Locate the POP Checkout app, and click the arrow in the Launch button</li>
                        <li>Click "Settings"</li>
                        <li>
                            From within the settings, enter the hostname of the website that you intend to place the POP Checkout.
                            <ul>
                                <li>Enter the hostname only. For example, if your website is <code>https://www.mysite.com</code>, you would only enter <code>www.mysite.com</code></li>
                                <li>If you would like to use on multiple websites, enter each hostname as a new line.</li>
                            </ul>
                        </li>
                    </ul>
                </p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Step 2:</strong> Paste JavaScript</div>
            <div class="panel-body">

                <p>You need to include a JavaScript snippet on every page where you want to provide the option for customers to buy.</p>

                <p>
                    Paste the following script reference near the bottom of your HTML page, just above the <code>&lt;/body&gt;</code> tag.
                    <pre><code>&lt;script src="{{data.src}}/dist/js/popup.min.js" id="_popup_script" type="text/javascript"&gt;&lt;/script&gt;</code></pre>
                </p>

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading"><strong>Step 3:</strong> Create Buttons</div>
            <div class="panel-body">

                <p>
                    To configure a button or link to generate the popup when clicked, do the following:
                    <ul>
                        <li>Add the following class to the button or link: <code>popup-buy-now</code></li>
                        <li>Add the following attribute to the button or link: <code>data-product_id="your-product-id-here"</code></li>
                    </ul>
                </p>

                <h4>A simple button</h4>
                <p class="well">
                    Here's the button code for product_id {{data.product.product_id}}. Try it!<br />
                    <code>&lt;button class="popup-buy-now" data-product_id="{{data.product.product_id}}"&gt;Buy Now&lt;/button&gt;</code>
                    <br /><br />
                    <button class="popup-buy-now" data-product_id="{{data.product.product_id}}">Buy Now</button>
                </p>

                <h4>A link</h4>
                <p class="well">
                    Here's the link code for product_id {{data.product.product_id}}. Try it!<br />
                    <code>&lt;a href="#" class="popup-buy-now" data-product_id="{{data.product.product_id}}"&gt;Buy Now&lt;/a&gt;</code>
                    <br /><br />
                    <a href="#" class="popup-buy-now" data-product_id="{{data.product.product_id}}">Buy Now</a>
                </p>

                <p>
                    You can specify additional parameters to customize the behavior.
                    <ul>
                        <li>data-quantity: Indicate the quantity of the item</li>
                        <li>data-email: Pre-fill the customer's email address with the supplied value</li>
                        <li>data-name: Pre-fill the customer's name with the supplied value</li>
                        <li>data-currency: Set the cart currency.</li>
                        <li>data-promotion_code: Provide a promo code</li>
                        <li>data-meta-*: Replace * with any value and the supplied value will be stored on the order's meta data</li>
                    </ul>

                    For example, here's a button that specifies the quantity, currency, promo code and a meta value:<br />
                    <code>&lt;button class="popup-buy-now" data-product_id="{{data.product.product_id}}" data-quantity="1" data-currency="EUR" data-promotion_code="half-off" data-meta-ref="homepage"&gt;Buy Now&lt;/button&gt;</code>
                </p>

            </div>
        </div>

        <div class="row spacer-b20">&nbsp;</div>

        <h3>Advanced Features</h3>
        <hr />

        <h4>Provide Full Cart Data</h4>
        <p>
            The basic integration allows you to send in basic data about the cart. You can send in a full cart object adding the <code>data-cart</code> attribute to your button or link and include the full cart object as a JSON string.
        </p>

        <pre><code>&lt;button class="popup-buy-now" data-cart='{"promotion_code": "half-price", "items":[{"product_id":"1001", "quantity":1 }], "customer": {"name": "Joe Blow", "email": "joe@example.com", "billing_address": {"address_1": "123 Main St.", "city": "Ville", "state_prov": "OH", "postal_code": "43081", "country": "US"}}}'&gt;Buy Now&lt;/button&gt;</code></pre>

        <div class="row spacer-b20">&nbsp;</div>

        <h4>Launch POP Checkout with JavaScript</h4>
        <p>
            When POP Checkout is initialized, a variable <code>_popup</code> is set on the page. This variable contains a function that can be used to trigger POP Checkout from JavaScript, as seen in the example below.
        </p>

<pre>
<code>
var cart = {items: [{product_id:"1001"}]};
_popup.open(cart);
</code>
</pre>
        <p>
            Note that this variable is not set until POP Checkout has fully initialized. Therefore, it is best to use Asynchronous Loading (described below) and use the <code>_popup.open(cart)</code> function within the <code>loadApp()</code> function callback, thereby ensuring that POP Checkout is ready before you call the <code>open</code> function.
        </p>

        <p>
            <i><b>Note: </b>Most browsers include automated popup blockers by default. Since POP Checkout is loaded in a new tab on mobile devices, you should invoke the <code>_popup.open()</code> function in response to a user "click" to prevent the new tab from being blocked by the browser.</i>
        </p>

        <p>
            <i>For example, if you attempt to launch POP Checkout automatically on page load (without a user click event), it will launch successfully on desktop devices because POP Checkout loads in an overlay and not a new tab. However, it will most likely be blocked on mobile devices which attempt to load POP Checkout in a new tab. If you choose to launch POP Checkout using the <code>_popup.open()</code> function, make certain you test your implementation from a mobile device (or emulating a mobile device) to ensure POP Checkout is not blocked.</i>
        </p>

        <h4>Asynchronous Loading</h4>
        <p>
            It is possible to load POP Checkout asynchronously, which provides some additional features such as
            subscribing to events when the popup is opened or closed, and allows you to include the code within the <code>&lt;head&gt;&lt;/head&gt;</code> section
            of your website without a performance penalty.
        </p>
        <p>
            To load POP Checkout asynchronously, include the snippet below in your page (usually within the <code>&lt;head&gt;&lt;/head&gt;</code> tags). You'll notice
            two events in the example below that you can listen to; if you don't intend to use the onLoad and onClose events, don't include these optional lines in your code.
        </p>

<pre><code>
&lt;script&gt;
    function loadApp(s,a,l,e){var i=document.getElementsByTagName("head")[0],n=!1,d=document.createElement("script");
    d.src=s,d.id="_popup_script",d.type="text/javascript",d.async=1,d.setAttribute("data-popup-type", a),d.setAttribute("data-popup-ui", l),d.setAttribute("data-self-init", 1),d.onload=d.onreadystatechange=function()
    {n||this.readyState&&"loaded"!==this.readyState&&"complete"!==this.readyState||(n=!0,_popup.initialize(function(){"function"==typeof e&&e()}))},i.appendChild(d)} 
    
    // loadApp(script_url, type_of_popup, ui, callback).
    loadApp("{{data.src}}/dist/js/popup.min.js", "simple", "basic", function() {
        
        // Optional, listen for the when the popup is opened. See the Callback Functions documentation below for details.
        _popup.onLoad = function(data) {
           // console.log(data)
        } 
        // Optional, listen for when the popup is closed. See the Callback Functions documentation below for details.
        _popup.onClose = function(data) {
           // console.log(data)
        }   
        // Want to open POP Checkout programatically? Below is a code sample.
        // Note that on mobile devices POP Checkout loads in a new tab. To prevent issues with popup blockers, make sure to run this function in response to a user click event.
        // var cart = { items: [{ product_id: "1001" }] }
        // _popup.open(cart);
                           
    });
&lt;/script&gt;                        
</code></pre>

        <a class="pointer" ng-click="showUncompressed = true" ng-show="!showUncompressed">Show uncompressed snippet</a>
        <a class="pointer" ng-click="showUncompressed = false" ng-show="showUncompressed">Hide uncompressed snippet</a>

<pre ng-show="showUncompressed"><code>
// The below code is the same as the example above, just uncompressed for easier review.
// For increased performance, the compressed version is generally used in production environments.
&lt;script&gt;
function loadApp(url, type, ui, callback) {
var head = document.getElementsByTagName("head")[0], done = false;
var script = document.createElement("script");
script.src = url;
script.id = "_popup_script";
script.type = "text/javascript";
script.async = 1;
script.setAttribute("data-popup-type", type);
script.setAttribute("data-popup-ui", ui);
script.setAttribute("data-self-init", 1);
// Attach handlers for all browsers
script.onload = script.onreadystatechange = function () {
    if (!done && (!this.readyState || this.readyState === "loaded" || this.readyState === "complete")) {
        done = true;
        // Initialize
        _popup.initialize(function() {
        if (typeof callback === 'function') callback();
    });
    }
};
head.appendChild(script);
}  
// loadApp(script_url, type_of_popup, ui, callback).
loadApp("{{data.src}}/dist/js/popup.min.js", "simple", "basic", function() {
        
    // Optional, listen for the when the popup is opened. See the Callback Functions documentation below for details.
    _popup.onLoad = function(data) {
       // console.log(data)
    } 
    // Optional, listen for when the popup is closed. See the Callback Functions documentation below for details.
    _popup.onClose = function(data) {
       // console.log(data)
    }
    // Want to open POP Checkout programatically? Below is a code sample.
    // Note that on mobile devices POP Checkout loads in a new tab. To prevent issues with popup blockers, make sure to run this function in response to a user click event.
    // var cart = { items: [{ product_id: "1001" }] }
    // _popup.open(cart);
                           
});
&lt;/script&gt;                        
</code></pre>

        <div class="spacer-b20">&nbsp;</div>

        <h4>Callback Functions</h4>
        <p>
            When using aynchronous loading, you have access to callback functions.
            <ul>
                <li><code>_popup.onLoad(data)</code> A function that is called when POP Checkout is initially loaded and displayed to the user. The <code>data</code> paramter includes a property <code>cart</code> that provides a copy of the cart at the time POP Checkout is initially loaded.</li>
                <li><code>_popup.onClose(data)</code> A function that is called when POP Checkout is closed. The <code>data</code> paramter includes a property <code>cart</code> that provides a copy of the cart and a property <code>order</code> that provides a copy of the order at the time POP Checkout is closed. Note that if the customer did not complete a payment before POP Checkout was closed, <code>order</code> will be null.</li>
            </ul>
        </p>

        <p>If there is an error creating the cart when POP Checkout is launched (perhaps an invalid payload is provided, a timeout or other system error), <code>data.cart</code> property will return as <code>undefined</code>. To prevent exceptions in your code, it is recommended that you confirm that <code>data.cart</code> is defined before attempting to use it.</p>

        <p>
            <i><b>Note: </b>In the case of mobile devices, POP Checkout is loaded in a new tab rather than a modal overlay to provide a better user experience. While not common, if the user clicks the browser "Reload" button on the new tab, it will trigger the <code>_popup.onClose()</code> function, even though POP Checkout has not actually been closed.</i>
        </p>

        <h4>Language Parameter</h4>
        <p>
            POP Checkout will automatically determine the user's language from the browser settings and will select the language accordingly. However, you can override the language of the user's browser by adding the following HTML attribute to the script:
        </p>

        <pre><code>&lt;script src="{{data.src}}/dist/js/popup.min.js" id="_popup_script" data-language="de" type="text/javascript"&gt;&lt;/script&gt;</code></pre>

        <p>
            The language can be a fully-qualified locale (such as de-DE) or a two letter language code (such as de).
        </p>

        <h4>Display as Modal or Tab</h4>
        <p>
            POP Checkout automatically determines, based on the user's environment, if it should launch as a modal (page overlay) or a new browser tab. For the best user experience, POP Checkout loads as an overlay on larger devices such as desktop computers, laptops and tablets, and as a new tab on small devices such as a phone.
        </p>

        <p>
            However, you can override this behavior by indicating how you wish POP Checkout to load with the <code>data-as-modal</code> HTML attribute on the script, as seen in the example below. If you set <code>data-as-modal</code> to <code>true</code>, POP Checkout will always load as a modal (overlay). If you set <code>data-as-modal</code> to <code>false</code>, POP Checkout will always launch in a new tab.
        </p>

        <pre><code>&lt;script src="{{data.src}}/dist/js/popup.min.js" id="_popup_script" data-as-modal="true" type="text/javascript"&gt;&lt;/script&gt;</code></pre>

        <p>
            For best results, we generally recommend that you allow POP Checkout to determine the best launch method. If you do not supply the <code>data-as-modal</code> attribute, the launch method will be automatically selected.
        </p>

        <h4>Debug Mode</h4>
        <p>
            You can set a parameter to run in Debug mode. Debug mode prints messages to the browser console so you can watch various events in the lifecycle of POP Checkout. It introduces only minor overhead, so you should not be concerned about having Debug mode enabled for live customers. There are three ways to enable Debug mode:
        </p>

        <p>
            <strong>Method 1: Add a query string parameter to the parent page</strong><br /><br />
            Add <code>debug=true</code> to the query string parameter of the page that launches POP Checkout. For example, to enable it for this page, you would use the following URL:
            <pre>{{data.debugUrl}}</pre>
        </p>

        <p>
            <strong>Method 2: Add the attribute <code>data-debug</code> to your <code>&lt;script&gt;</code> tag</strong>
            <pre><code>&lt;script data-debug="true" src="{{data.src}}/dist/js/popup.min.js" id="_popup_script" type="text/javascript"&gt;&lt;/script&gt;</code></pre>
        </p>

        <p>
            <strong>Method 3: Add a parameter in the <code>_popup.initialize()</code> function</strong><br /><br />
            If you are using the async method of launching the popup, you can include <code>true</code> as the second parameter to indicate that debug mode should be enabled.
            <pre><code>_popup.initialize(callback, true)</code></pre>
        </p>

    </div>

    <div class="spacer-b20">&nbsp;</div>

    <!-- Modules (CDN)  -->
    <script src="https://static.comecero.com/libraries/angularjs/1.5.9/angular-route.min.js"></script>
    <script src="https://static.comecero.com/libraries/angularjs/1.5.9/angular-sanitize.min.js"></script>

    <!-- Main Application File. Must come before kit.js. -->
    <script src="app.js"></script>

    <!-- Controller -->
    <script src="../getting-started/controller.js"></script>

    <!-- App Kit -->
    <script src="../dist/js/kit.min.js"></script>

    <!-- Add the code so we can see a live demo on the page -->
    <script src="../dist/js/popup.min.js" id="_popup_script" data-popup-type="simple" type="text/javascript"></script>

</body>
</html>
